page-page1 {
  .login-center
  {
    display: flex;
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.getstart {
  background: url('../assets/img/background-login.jpg');
  // background: url('../../img/getstart.png');
  background-repeat: no-repeat;
  background-size:cover;
}
